.card-img-overly {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(.25rem - 1px);
    width: 100%;
    background: #36363640;
    background-image: linear-gradient(to top, #111827, transparent);
}